/* start header */
.dong {
    border: 1px solid #585353;
    width: 50%;
    margin: 22px auto 7px auto;
}

#nav {
    margin-left: -20px;
    cursor: pointer;
}

#nav li:hover .icon i,
#nav li:hover a {
    color: white;
}

.no-spacing {
    text-align: center;
}

li {
    display: flex;
    align-items: center;
    padding: 12px 4px;
    font-size: 14px;
    line-height: 2.0;
    font-weight: 500;
}

li:active {
    background: #643470;
    color: white;
}

.sub-header>.no-spacing {
    font-size: 0px;
}


.no-spacing>span {
    font-size: 40px;

}

.mp3 {
    font-weight: normal;
    margin-left: 8px;
    font-size: 20px;
}

#header {
    height: inherit;
    width: 240px;
}

.sub-header {
    width: 240px;
    padding: 10px 37px 0 0px;
    text-align: center;
}

.icon {
    margin-left: 50px;
    font-weight: 400;
}

.icon1 {
    margin-right: 10px;
}

.text {
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 10px;
}

.login-nav {
    padding: 15px 8px;
    margin: 10px 20px;
    position: relative;
    border-radius: 8px;
    text-align: center;
}

.login-nav-btn {
    border-radius: 8px;
    padding: 6px 35px;
    cursor: pointer;
}

.login-nav-btn:hover {
    color: #585353;
}

.icon-add {
    position: absolute;
    width: 240px;
    left: 0;
    bottom: 0;
    height: 54px;
    border-top: 1px solid #ccc;
    padding: 0px 28px;
    border-radius: 0;
    font-weight: 500;
    border-left: none;
    cursor: pointer;
}

.icon-add:hover {
    color: #585353;
}

::-webkit-scrollbar {
    width: 6px;
    /* Kích thước thanh cuộn đứng */
    height: 8px;
    /* Kích thước thanh cuộn ngang */
}

::-webkit-scrollbar-thumb {
    background: #888;
    /* Màu của thanh cuộn */
    border-radius: 4px;
    /* Bo góc */
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
    /* Màu khi hover */
}

/* end header */


/* start  zmp3-header*/
.zmp3-header {

    position: fixed;
    top: 0;
    left: 240px;
    padding: 0 59px;
    height: 70px;
    line-height: 70px;
    z-index: 100;
    right: 330px;
    transition: right .4s;
    opacity: 0.8;
    width: 100%;
}

.level {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 40px;

}

.level-left {
    display: flex;
    border: none;
    align-items: center;
    padding-right: 10px;
}

.level-right,
.level-left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* Căn đều các mục */
}

.zm-btn {
    /* background-color: #170f23;
    border: 0px solid rgba(255, 255, 255, 0.5); */
    /* color: #585353; */
    padding: 10px 20px;
    /* border-radius: 5px; */
    font-size: 20px;
    cursor: pointer;
}

.zm-btn:hover {
    color: white;
}


.img-content {
    display: flex;
    align-items: center;
    width: 36px;
    height: 16px;
}

.img-content1 {
    padding-left: 9px;
}



.zm-btn-bd {
    border-radius: 20px;
    border: none;
    /* Đảm bảo không có viền */
    outline: none;
    /* Đảm bảo không có viền ngoài */
    box-shadow: none;
}

.text1 {
    background: inherit;
    width: 300px;
    border: none;
    color: #ccc;
    padding: 0px 10px 0px 10px;
}

.roll {
    background-color: hsla(0, 0%, 100%, 0.1);
    /* position: relative; */
    height: 40px;
    border-radius: 20px;
    background: #2a1d3d;
    display: flex;
    justify-content: center;
    align-items: center;
}

.level-left input:focus {
    outline: none;
}


.level-right {
    display: flex;
    align-items: center;

}

.level-right-tex {
    padding: 10px 20px;
    border-radius: 100px;
    background-color: #9b4de0;
    color: white;
    margin-right: 12px;
    letter-spacing: 0.1px;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    margin: 0px 20px;
    cursor: pointer;
}

.level-right-tex:hover {
    color: #ceb9d3;
}

.level-right-icon {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: purple;
    gap: 10px;
    background-color: #261d33;
    padding: 10px 20px;
    border-radius: 100px;
    margin-right: 12px;
    letter-spacing: 0.1px;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    cursor: pointer;
}

.level-right-icon:hover {
    color: #894e98;
}

.icon-setting {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #261d33;
    border-radius: 100%;
    color: white;
    border: none;
    cursor: pointer;
    margin: 0px 5px;
}

.icon-setting:hover {
    background: #1d1b32;
    color: #ccc;
}

.icon-setting1 {
    width: 38px;
    height: 38px;
    border-radius: 100%;
    /* Bo tròn viền hình ảnh thành hình tròn */
    border: 2px solid #fff;/
}

/* end zmp3-header */
